.container{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:200px;
  background:#fff;
  padding-buttom: 30px;
}
.header{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:30px;
  
}

.icon {
  width: 20px;
  height: 20px;
}